[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/jade"]
	path = .vim/bundle/jade
	url = git@github.com:digitaltoad/vim-jade.git
[submodule ".vim/bundle/rename"]
	path = .vim/bundle/rename
	url = git@github.com:danro/rename.vim.git
[submodule ".vim/bundle/stylus"]
	path = .vim/bundle/stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
