
#
# Josh Pagley :)
#
# Find more information about the specifics of each section ([user], [alias], etc.) and a list of 
# more customizable sections at ftp://www.kernel.org/pub/software/scm/git/docs/git-config.html
# 

[user]

	name = Josh Pagley
	email = jdpagley@yahoo.com

[alias]

	co = checkout
	pl = pull
	pu = push
	puo = push origin
	s = status
	a = add
	aa = add --all
	ci = commit
	di = diff
	dic = diff --cached

[color]

  #ui = true

[filter "media"]

  #clean = git-media-clean %f
  #smudge = git-media-smudge %f

[core]

  excludesfile = ~/.gitignore

[push]
	default = simple
